
body{
    margin: 0px;
    padding: 0px;
}

.main_heading{
    text-align: center;
    font-size: 80px;
    background-color:#B5D5C5 ;
}


.main_container{

background-color: #B5D5C5;
height: 270px;
text-align: center;
}


.search{
height: 40px;
width: 450px;
border-radius: 25px;
padding: 10px;

}

.heading{
padding-top: 40px;

}

